body, html {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegúrate de que el body y html ocupen el 100% de la altura */
  overflow: hidden; /* Evita el desplazamiento */
  background-color: #446d37;
}

.background {
  background-image: url('./assets/background.jpg'); /* Cambia la ruta según sea necesario */
  background-size: cover;
  background-position: center;
  height: 100vh; /* Para que cubra toda la pantalla */
  position: relative;
}

.forest {
  height: 170vh !important;
  display: block;
  position: relative;
  bottom: 50px;
}

.bee-img {
  position: absolute; /* Posiciona la imagen encima */
  top: 70%; /* Centra verticalmente */
  left: 30%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para centrar */
  z-index: 2; /* Asegura que la imagen esté encima del fondo */
  max-width: 100%; /* Ajusta el tamaño máximo según sea necesario */
  height: auto; /* Mantiene la relación de aspecto */
  animation: desvanecer 4s forwards; /* Duración de la animación: 4 segundos */
  animation-delay: 6s; /* Esperar 3 segundos antes de comenzar a desvanecer */
}

.text-img {
  position: absolute; /* Posiciona la imagen encima */
  top: 40%; /* Centra verticalmente */
  left: 55%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta para centrar */
  z-index: 2; /* Asegura que la imagen esté encima del fondo */
  max-width: 100%; /* Ajusta el tamaño máximo según sea necesario */
  height: 400px; /* Mantiene la relación de aspecto */
  animation: desvanecer 4s forwards; /* Duración de la animación: 4 segundos */
  animation-delay: 6s; /* Esperar 3 segundos antes de comenzar a desvanecer */
}

.intro {
  position: absolute; /* Posicionamiento absoluto */
  top: 40%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Ajustar el centro del contenedor */
  z-index: 1; /* Asegurarse de que esté por encima del canvas */
  pointer-events: none; /* Permitir interacciones con el canvas debajo */
}

@keyframes desvanecer {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.intro p {
  font-size: 20px; /* Tamaño del texto */
  text-align: center; /* Centrar el texto */
  color: white;
  animation: desvanecer 4s forwards; /* Duración de la animación: 4 segundos */
  animation-delay: 6s; /* Esperar 3 segundos antes de comenzar a desvanecer */
}